body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0d494c;
  box-shadow: inset 0 0 5px #0e2222;
}

::-webkit-scrollbar-thumb {
  background: rgb(225, 255, 116);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(155, 175, 80);
}
