
body {
  margin: 0px;
  padding: 0px;
  background-color: black;

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0d494c;
  box-shadow: inset 0 0 5px #0e2222;
}

::-webkit-scrollbar-thumb {
  background: rgb(177, 210, 59);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(124, 147, 41);
}
